body {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
    line-height: 1rem;
}

.inner-container{
    width: 1260px;
    margin: 0 auto;
    background-color: black;
    padding: 40px 126px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
h1 {
    color: #ff7513;
    font-size: 81px;
    width:600px;
}

h2 {
    color: white;
    font-size: 36px;

}

h3 {
    color: #f5f5f4;
    font-size: 25px;

}

p {
    color: #f5f5f4;
    font-size: 18px;
}

.flex-container section {
    width:320;
}
