body {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
    /* step up a default font size and color*/
    font-size: 18px;
    color: #f5f5f4;
}

.inner-container{
    /*
    Remember your Box-Model
        calculation for width
        entire image width is 1260
        the padding within this width is 126 left and right (252)
        the width (the actual content) is 1250 - 252 = 1028;
    */
    width: 1028px;
    margin: 0 auto;
    background-color: black;
    padding: 40px  126px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

header {
    margin: 40px 0 80px 0;
}
header p{
    font-size: 22px;
}
h1 {
    color: #ff7513;
    font-size: 81px;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-size: 36px;
    text-decoration: underline;
    text-decoration-color: #ff7513;
    margin-bottom:20px;
     text-transform: uppercase;
}

h3 {
    font-size: 25px;
     text-transform: uppercase;
}

.our-services {
    margin-bottom: 80px;
}

.our-services .flex-container section {
    width:320px;
    /* adjust the alignment of material within the flex-item. 
       here we will use text-algin and not the alignment attributes of
           flex-box since they affect the positioning of the flex-item
           NOT its contents */
    text-align: center;
}

.our-services  .flex-container section img {
    /* text-align does not affect the img
       we need to adjust that manually 
       use the general technique for centering as we have done for the inner-container*/
       margin: 0 auto;
      
}

.our-services .flex-container section h3 {
     margin-bottom: 10px;
     margin-top: 20px;
}
.instructors section{
    margin-bottom: 40px;
}
.info {
    width: 67%;
}
footer {
    margin: 80px 0;

}
