/* ***************** utilities & containers ***************** */
body {
    font-family: "Outfit", sans-serif;
    /* font-optical-sizing: auto; */
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    gap: 44px;
    justify-content: center;
}

/* ***************** global typography ***************** */
h1 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-size: 86px;
}

h2 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-size: 57px;
    margin-bottom: 35px;
}

h3 {
    font-size: 34px;
    line-height: 1;
    margin-bottom: 16px;
}

/* ***************** home page content ***************** */
.banner {
    background-color: #BBAA92;
    background-image: url(../img/banner-bg.avif);
    border-radius: 8px;
    padding: 35px 35px 138px 35px;
    margin-bottom: 70px;
}

.banner h2 {
    font-family: "Outfit", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    width: 340px;
    margin-bottom: 27px;
}

.banner a {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    background-color: #FFC800;
    border-radius: 8px;
    padding: 12px 16px;
    display: inline-block;
}

.banner a:hover {
    background-color: #FFD84C;
}

.what-we-do {
    text-align: center;
    margin-bottom: 70px;
}

.what-we-do section {
    width: 200px;
}

.what-we-do img {
    margin-bottom: 16px;
}

/* ***************** contact page content ***************** */
.text-col p {
    width: 311px; /*calc((960 - 44) * .33)px;*/
    margin-bottom: 24px;
}

.form-col {
    width: 605px; /*calc((960 - 44) * .66)px;*/
}

.contact-form-layout {
    margin-bottom: 70px;
}


.contact-form-layout label{
    display: block;
}

.contact-form-layout span{
   color:red;
}

/* style the controls */
input[type="text"],
input[type="email"],
input[type="tel"],
.contact-form-layout textarea{
    width: 600px;
}

/* ***************** header ***************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* main axis, horizontal */
    align-items: center; /* cross axis, vertical */

}

header a{
    color: black;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 24px;
}



/* ***************** footer ***************** */
footer {
    background-color: #BCBA70;
    background-image: url(../img/footer-bg.avif);
    border-radius: 8px;
    padding: 134px 0 35px 35px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 14px;
    margin-bottom: 35px;
}

footer p {
    width: 423px;
    /* ** NEW CSS to override the footer margin. */
    margin-bottom: 0;
}

/* Double-check the organization and formatting of the CSS document. */
/* Use the Dev Tools to see the layout and fit. */