body{
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

h1 {
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 38px;
    padding: 10px 0;
    margin: 16px 0 16px 24px;
   
}

header{
    background-color: #1a98ee;
     color: white;
     /* With these two flex items (h1 and ul), we’ll also arrange the space along the main 
        and cross axes. */
    /* Main axis – move all the leftover space into the middle */
    /* Cross axis – the default is stretch, and the nav element stretches 
        to match the height of the h1. However, the text aligns to the top. 
        Let’s override the stretch. */
    justify-content:space-between; /* main axis : horizontal for row*/
    align-items: center; /* cross axis : vertical for row */

    /* this prevents the text within an element from wrapping */
    text-wrap: nowrap;
}

header nav ul{
    /* remove the bullet circles */
    list-style-type: none;
    /* 
        flex does not need to go into its own class
        flex can be place directly on an element tag
    */
    display: flex;
    /* you can set the horizontal and vertical flex gap
       by using row-gap and column-gap instead of gap (does both)
    */
    row-gap: 10px;
    column-gap: 57px;
    /* instead of shrinking content on flex row, 
       keep content size and move overflow to next row */
    flex-wrap: wrap ; 

    padding-right: 24px; /* move the menu items away from the right side */

}

header a {
    color: white;
    text-decoration: none;  /* remove underlines */
}

/*
    only affect the anchor tags within the nav list
    will NOT affect the brand name anchor tag
*/
nav a:hover {
    color: white;
    text-decoration: underline;  /* remove underlines */
    font-size: larger;
}